<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mmo_700">

    <link name="base_footprint"/>

    <link name="base_link">
        <inertial>
            <mass value="200"/>
            <origin xyz="0 0 0"/>
            <inertia ixx="7.8" ixy="0.0" ixz="0" iyy="7.8" iyz="0.0" izz="7.8"/>
        </inertial>
        <visual>
            <origin rpy="0 0 -1.571" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://steve_simulation/robots/mmo_700/meshes/MPO-700-BODY.dae" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="0 0 -1.571" xyz="0. 0. 0."/>
            <geometry>
                <mesh filename="package://steve_simulation/robots/mmo_700/meshes/MPO-700-BODY.dae" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <joint name="base_footprint_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <axis xyz="0 0 -1"/>
        <joint_properties damping="1" friction="1"/>
        <parent link="base_link"/>
        <child link="base_footprint"/>
    </joint>

    <!-- Lidar Sensors -->
    <!-- Lidar 1 - Front Right Corner -->
    <joint name="lidar_1_joint" type="fixed">
        <axis xyz="0 1 0"/>
        <origin rpy="3.14 0 0.79" xyz="0.338 0.288 0.223"/>
        <parent link="base_link"/>
        <child link="lidar_1_link"/>
    </joint>

    <link name="lidar_1_link" type="laser">
        <inertial>
            <mass value="1.2"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.11042056" ixy="0.0" ixz="0.0" iyy="0.11042056" iyz="0.0" izz="0.11042056"/>
        </inertial>
        <visual>
            <origin rpy="-1.57 0 3.14" xyz="0 0 -0.12"/>
            <geometry>
                <mesh filename="package://steve_simulation/components/meshes/SICK-S300.dae" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="-1.57 0 3.14" xyz="0 0 -0.12"/>
            <geometry>
                <mesh filename="package://steve_simulation/components/meshes/SICK-S300.dae" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <!-- Lidar 2 - Back Left Corner -->
    <joint name="lidar_2_joint" type="fixed">
        <axis xyz="0 1 0"/>
        <origin rpy="3.14 0 3.93" xyz="-0.338 -0.288 0.223"/>
        <parent link="base_link"/>
        <child link="lidar_2_link"/>
    </joint>

    <link name="lidar_2_link" type="laser">
        <inertial>
            <mass value="1.2"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.11042056" ixy="0.0" ixz="0.0" iyy="0.11042056" iyz="0.0" izz="0.11042056"/>
        </inertial>
        <visual>
            <origin rpy="-1.57 0 3.14" xyz="0 0 -0.12"/>
            <geometry>
                <mesh filename="package://steve_simulation/components/meshes/SICK-S300.dae" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin rpy="-1.57 0 3.14" xyz="0 0 -0.12"/>
            <geometry>
                <mesh filename="package://steve_simulation/components/meshes/SICK-S300.dae" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <!-- Import wheel macros from MPO_700 (same platform) -->
    <xacro:include filename="$(find steve_simulation)/robots/mmo_700/urdf/macro/mpo_700_wheel.xacro"/>
    <xacro:include filename="$(find steve_simulation)/robots/mmo_700/urdf/macro/mpo_700_caster.xacro"/>

    <!-- Caster wheels -->
    <xacro:mpo_700_caster_0
        name="mpo_700_caster_front_left"
        parent="base_link"
        >
        <origin rpy="0 0 0" xyz="0.24 0.18 0.22"/>
    </xacro:mpo_700_caster_0>

    <xacro:mpo_700_caster_1
        name="mpo_700_caster_front_right"
        parent="base_link"
        >
        <origin rpy="0 0 0" xyz="0.24 -0.18 0.22"/>
    </xacro:mpo_700_caster_1>

    <xacro:mpo_700_caster_2
        name="mpo_700_caster_back_left"
        parent="base_link"
        >
        <origin rpy="0 0 0" xyz="-0.24 0.18 0.22"/>
    </xacro:mpo_700_caster_2>

    <xacro:mpo_700_caster_3
        name="mpo_700_caster_back_right"
        parent="base_link"
        >
        <origin rpy="0 0 0" xyz="-0.24 -0.18 0.22"/>
    </xacro:mpo_700_caster_3>

    <!-- Wheels -->
    <xacro:mpo_700_wheel
        name="mpo_700_wheel_front_left"
        parent="mpo_700_caster_front_left_link"
        >
        <origin rpy="0 0 0" xyz="0.0 0.045 -0.12"/>
    </xacro:mpo_700_wheel>

    <xacro:mpo_700_wheel
        name="mpo_700_wheel_front_right"
        parent="mpo_700_caster_front_right_link"
        >
        <origin rpy="0 0 3.14" xyz="0.0 -0.045 -0.12"/>
    </xacro:mpo_700_wheel>

    <xacro:mpo_700_wheel
        name="mpo_700_wheel_back_left"
        parent="mpo_700_caster_back_left_link"
        >
        <origin rpy="0 0 0" xyz="0.0 0.045 -0.12"/>
    </xacro:mpo_700_wheel>

    <xacro:mpo_700_wheel
        name="mpo_700_wheel_back_right"
        parent="mpo_700_caster_back_right_link"
        >
        <origin rpy="0 0 3.14" xyz="0.0 -0.045 -0.12"/>
    </xacro:mpo_700_wheel>

</robot>
